BLocal/XmlLanguageProviderSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="text">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="lang">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="key" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="part">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="text" type="text">
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="part" type="part">
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="mapping" type="part">
  </xs:element>
        
</xs:schema>